./ContractsAutoTests

# MATCH
**/*cache*
**/*debug*
**/*report*
**/*log*
**/*tool*
**/*venv*
**/.*

# ASSIGN
resource/tmp
tools/platon_deploy/nodefile
tools/platon_deploy/bin

# OTHER
**/*.py[cod]
**/*.so
**/*.egg
**/*.egg-info
**/*.code-workspace
**/*.bak